<section class="about">
    <figure class="bkgd"></figure>
<!--    <h1>About</h1>
    <h2> Momentum drives deals for mobile-focused startups.  Let’s get you some traction!</h2>
    <p>Momentum provides:</p>-->
    <ul class="grid">
      <li>
        <h2>Introductions</h2>
        <p>{{ page.introductions }}</p>
      </li>
      <li>
        <h2>Mentorship</h2>
        <p>{{ page.mentorship }}</p>
      </li>
      <li>
        <h2>Exposure</h2>
        <p>{{ page.exposure }}</p>
      </li>
      <li>
        <h2>Funding</h2>
        <p>{{ page.funding }}</p>
      </li>
    </ul>
  </section>