<section class="ambassadors">
  <figure class="bkgd"></figure>
  <h1>{{ page.ambassadors.title }}</h1>
  <p>{{ page.ambassadors.intro }}</p>
  <div class="inside-wrap">
    <ul>
    {% for ambassador in page.ambassadors.list %}
    <li class="person">
      <figure style="background-image: url(assets/img/{{ ambassador.photo }});"></figure>
      <h2>{{ ambassador.name }}</h2>
      <h3>{{ ambassador.city }}</h3>
      <a href="http://www.linkedin.com/in/{{ ambassador.linkedin }}"><i class="ss-linkedin"></i></a>
    </li>
    {% endfor %}
  </ul>
  </div>
</section>
