<section id="people">
  <figure class="bkgd"></figure>
  <section class="content inside-wrap">
    <ul class="tabs" data-tabset="{{ page.team.id }}">
      <li><a href="#{{ page.team.id }}">{{ page.team.title }}</a></li>
      <li><a href="#{{ page.partners.id }}">{{ page.partners.title }}</a></li>
      <li><a href="#{{ page.ambassadors.id }}">{{ page.ambassadors.title }}</a></li>
      <li><a href="#{{ page.mentors.id }}">{{ page.mentors.title }}</a></li>
    </ul>
    
    <!-- {{ page.partners.title }} -->
    <div id="{{ page.team.id }}" class="tab show">
      <h2>{{ page.team.intro }}</h2>
      <ul class="two" data-liffect="slideRight">
        {% for member in page.team.members %}
        <li class="person">
          <figure style="background-image: url(assets/img/{{ member.photo }});"></figure>
          <h2>{{ member.name }}</h2>
          <h3>{{ member.title }}</h3>
          <p class="bio">{{ member.cv }}</p>
          {% if member.linkedin %}<a href="http://www.linkedin.com/in/{{ member.linkedin }}"><i class="ss-linkedin"></i></a>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <!-- {{ page.partners.title }} -->
    <div id="{{ page.partners.id }}" class="tab">
      <h2>{{ page.partners.intro }}</h2>
      <ul class="two" data-liffect="slideRight">
        {% for partner in page.partners.partners %}
        <li class="sponsor">
          <figure style="background: url(assets/img/{{ partner.logo }}) center center no-repeat;"></figure>
          <h2>{{ partner.name }}</h2>
          <h3>{{ partner.type }}</h3>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <!-- {{ page.ambassadors.title }} -->
    <div id="{{ page.ambassadors.id }}" class="tab">
      <h2>{{ page.ambassadors.intro }}</h2>
      <ul class="three" data-liffect="slideRight">
        {% for ambassador in page.ambassadors.list %}
        <li class="person">
          <figure style="background-image: url({{ ambassador.photo }});"></figure>
          <h2>{{ ambassador.name }}</h2>
          <h3>{{ ambassador.city }}</h3>
          {% if ambassador.linkedin %}<a href="http://www.linkedin.com/in/{{ ambassador.linkedin }}"><i class="ss-linkedin"></i></a>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <!-- {{ page.mentors.title }} -->
    <div id="{{ page.mentors.id }}" class="tab">
      <h2>{{ page.mentors.intro }}</h2>
      <ul class="three" data-liffect="slideRight">
        {% for mentor in page.mentors.mentors %}
        <li class="person">
          <figure style="background-image: url({{ mentor.photo }});"></figure>
          <h2>{{ mentor.name }}</h2>
          <h3>{{ mentor.title }}</h3>
          {% if mentor.url %}<a href="{{ mentor.url }}"><i class="ss-linkedin"></i></a>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  
  </section>
</section>

